<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2>오시는 길</h2>
                <img src="img/place.png" alt="오시는 길 이미지">
                <br>
                <h2 class="section-heading">MUSCLE UP STORY</h2>
                <hr class="primary">
                <p>대표자 :엄미선│
                    <a href="/muscleupstory.github.io/_includes/terms.html" target="_blank">이용약관</a>│
                    <a href="/muscleupstory.github.io/_includes/privacy.html" target="_blank">개인정보취급방침</a>│
                    │사업자번호501-12-67297│개인정보관리자:김용화</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://blog.naver.com/alswo3398">
                    <i class="fa fa-pencil fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>네이버 블로그</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:alswo3398@naver.com">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>이메일문의</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://instagram.com/{{ site.instagram_username }}">
                    <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>인스타그램</p>
                </a>
            </div>
        </div>
    </div>
</section>